/*practica de selectores hermano General*/
/* h2 ~ p{
  color: red;
} */
/*Practica de selector hermano adyacente*/
/* h2 + p{
  color: rgb(55, 255, 0);
} */
/*Ejemplo selectores de atributo*/
/* #herGer > input[required]{
  border: red solid 4px;
}
#herGer > input[type="password"]{
  border: red solid 4px;
} */
#herGer > input[name*="her"]{
    border: red solid 4px;
  }
  
  .inputError{
    border: red solid 4px;
  }
  
  /* #herGer > p:nth-of-type(2){
    color: aqua;
    font-size: xx-large;
  } */
  
  #herGer > p:nth-child(2n){
    color: aqua;
    font-size: xx-large;
  } 