header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 3%;
  padding-right: 3%;
  position: sticky;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: blue;
  z-index: 1000;
}
header img {
  width: 96px;
  height: 24px;
}
header > div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
header > div:last-child > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header > div:last-child > div > span {
  font-size: 12px;
}